<form class="example-form" minlength="2">
  <mat-form-field class="example-full-width">
    <mat-label>Enter your name</mat-label>
    <input matInput placeholder="Enter fullname " value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Roll No</mat-label>
    <input matInput placeholder="Ex. 18071...">
  </mat-form-field>
  <br><br>
</form>
  <form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
<br><br>
  <h4 style="opacity:0.5;">Address</h4>
<!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
{{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>-->
<mat-vertical-stepper [linear]="isLinear" #stepper>
<mat-step class="abcd" [stepControl]="firstFormGroup">
  <form [formGroup]="firstFormGroup">
    <ng-template matStepLabel>H:NO</ng-template>
    <mat-form-field>
      <mat-label>Tower No/H:No</mat-label>
      <input matInput placeholder="161/A,11-2...." formControlName="firstCtrl" required>
    </mat-form-field>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </form>
</mat-step>
<mat-step class="abcd" [stepControl]="secondFormGroup">
  <form [formGroup]="secondFormGroup">
    <ng-template matStepLabel>Colony</ng-template>
    <mat-form-field>
      <mat-label>Street</mat-label>
      <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St colony, New York, NY"
             required>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </form>
</mat-step>
<mat-step class="abcd" [stepControl]="secondFormGroup">
  <form [formGroup]="secondFormGroup">
    <ng-template matStepLabel>Area</ng-template>
    <mat-form-field>
      <mat-label>Area</mat-label>
      <input matInput formControlName="secondCtrl" placeholder="Ex. Sanjay Nagar,ICICI Bank"
             required>
    </mat-form-field>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </form>
</mat-step>
</mat-vertical-stepper>
<br><br>


<h4 style="opacity:0.5;">Branch</h4>
<mat-form-field appearance="fill">
  <mat-label>choose your Branch</mat-label>
  <mat-select [formControl]="animalControl" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let animal of animals" [value]="animal">
      {{animal.name}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="selectFormControl.hasError('required')">
    This field is required
  </mat-error>
  <mat-hint>Mandatory Field</mat-hint>
</mat-form-field>
<br><br>
<!--<h4 style="opacity:0.5;">State</h4>
<mat-form-field appearance="fill">
  <mat-label>Choose your state (District)</mat-label>
  <select matNativeControl required [formControl]="selectFormControl">
    <option label="--select something --"></option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
  <mat-error *ngIf="selectFormControl.hasError('required')">
    This field is required
  </mat-error>
  <mat-hint>Mandatory Field</mat-hint>
</mat-form-field>-->

<mat-form-field class="example-chip-list">
  <mat-label>Choose Subjects</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip
      *ngFor="let fruit of fruits"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(fruit)">
      {{fruit}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Next subject...."
      #fruitInput
      [formControl]="fruitCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
      {{fruit}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<br><br>
<p style="opacity:0.5;">Areas of Interests</p>
<section class="example-section">
  <span class="example-list-section">
    <ul>
      <li *ngFor="let subtask of task.subtasks">
        <mat-checkbox [(ngModel)]="subtask.completed"
                      [color]="subtask.color"
                      (ngModelChange)="updateAllComplete()">
          {{subtask.name}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
</section>

<span class="material-icons ab">
phone_android <mat-form-field class="example-full-width">
  <mat-label>Mobile Number</mat-label>
  <input matInput placeholder="Enter your Mobile Number " value="">
</mat-form-field>
</span>
<br><br>
<p style="opacity:0.5">Upload CV/Resume</p>
<angular-file-uploader
      [config]="afuConfig">
</angular-file-uploader>


<br><br>
<p style="opacity:0.5">Submit your Response</p>
<button mat-raised-button color="primary" (click)="handleWarningAlert()">Submit</button>


<br><br>


<!--<form #ref="ngForm" class="form" (ngSubmit)=" ref.form.valid && onSubmit(ref)" >
          <div class="form-group">
              <label for="un">Username</label>
              <input type="text" name="username" id="un" class="form-control"   ngModel required    #ref1="ngModel" autocomplete="off">

          </div>

          <p class="text-danger" *ngIf="(ref1.touched||ref.submitted)&&ref1.errors?.required">This field is required</p>
          <!-- <div class="form-group">
              <label for="pw">Password</label>
              <input type="password" name="password" id="pw" class="form-control" ngModel>
          </div>
          <div class="form-group">
              <label for="em">Password</label>
              <input type="email" name="email" id="em" class="form-control" ngModel>
          </div>
          <div class="form-group">
              <label for="dob">Date of birth</label>
              <input type="date" name="Birth" id="dob" class="form-control" ngModel>-->
