.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-stepper-vertical {
  margin-top: 8px;
  background-color: ##e9ecef;
}

.mat-form-field {
  margin-top: 16px;
  background-color: ##e9ecef;
}
.example-chip-list {
  width: 100%;
}
.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
.ab{
  font-size:1rem;
  width:50;
}
